section {
    display: flex;
}

section label {
    display: block;
    width: 50%;
}

section label>input {
    visibility: hidden;
}

section label>input+div {
    background-color: #B9B9B9;
    height: 60px;
    border-radius: 10px;

    margin-top: calc(-52px);

    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 14px;
    color: white;

    cursor: pointer;
}

section label>input+div:hover {
    opacity: 0.8;
}

section label>.input:checked+div {
    background-color: #3A9FF1;
}

section label>.output:checked+div {
    background-color: #FF576B;
}