.backdrop {
    min-height: calc(100vh + 125px);
    width: 100%;
    top: 0;
    left: 0;

    position: absolute;

    padding: 79px 0;

    background-color: rgba(61, 61, 61, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 61px 64px;
    gap: 38px;

    position: relative;

    width: 611px;
    min-height: 879px;

    background-color: white;

    border-radius: 20px;

    font-family: 'Rubik';
    font-weight: 700;
    font-size: 36px;
}

.modal img {
    height: 26px;
    position: absolute;

    right: 64px;
    top: 61px;

    cursor: pointer;
}

section {
    display: flex;
}

section label {
    display: block;
    width: 50%;
}

section label>input {
    visibility: hidden;
}

section label>input+div {
    background-color: #B9B9B9;
    height: 60px;
    border-radius: 10px;

    margin-top: calc(-52px);

    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 14px;
    color: white;

    cursor: pointer;
}

section label>input+div:hover {
    opacity: 0.8;
}

section label>.input:checked+div {
    background-color: #3A9FF1;
}

section label>.output:checked+div {
    background-color: #FF576B;
}

label,
input {
    font-weight: 500;
    font-size: 24px;

    color: #484848;
}

input,
select {
    height: 63px;
    border-radius: 5px;
    border: 1px solid #555555;

    padding: 12px;
    margin-top: 8px;
}

select {
    width: 100%;
    background-color: white;
}

.modal button {
    width: 236px;
    margin: 0 auto;
}